:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#root {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
}

.dark {
  background-color: rgb(38, 25, 52);
  color: rgb(222, 235, 245);
}

.light {
  background-color: #e6e6fa;
  color: #000000;
}

.light a {
  color: #000000;
}

.light table,
.light .details {
  border-color: #000000;
}

.light th,
.light td {
  border-left-color: #000000;
}

.light th {
  border-bottom-color: #000000;
}

.light button {
  background-color: plum;
}

.dark button {
  background-color: cadetblue;
}

.wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.container {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.panels {
  padding-top: 5%;
  margin: 0 auto;
  width: 1000px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.overlay {
  display: none;
  width: 100%;
  height: 100%;
  background-color: red;
  opacity: 0.75;
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
}

.errorBoundary {
  margin-top: 5%;
  align-self: flex-end;
}

.arrow {
  opacity: 1;
}

.switch {
  margin-bottom: 5%;
  align-self: flex-end;
}

.w {
  width: 30%;
}

.textStart {
  text-align: justify;
}

table {
  width: 100%;
  border: solid 3px white;
  margin-top: 5%;
  padding: 1%;
}

td,
th {
  border-left: solid 1px white;
}

th {
  border-bottom: solid 1px white;
}

a {
  text-decoration: none;
  color: white;
}

input[type="checkbox"] {
  accent-color: cadetblue;
}