#root {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
}

.dark {
  background-color: rgb(38, 25, 52);
  color: rgb(222, 235, 245);
}

.light {
  background-color: #e6e6fa;
  color: #000000;
}

.light a {
  color: #000000;
}

.light table,
.light .details {
  border-color: #000000;
}

.light th,
.light td {
  border-left-color: #000000;
}

.light th {
  border-bottom-color: #000000;
}

.light button {
  background-color: plum;
}

.dark button {
  background-color: cadetblue;
}

.wrap {
  width: 100%;
  height: 100%;
  display: flex;
}


.container {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.panels {
  margin: 0 auto;
  width: 1000px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.overlay {
  display: none;
  width: 100%;
  height: 100%;
  background-color: red;
  opacity: 0.75;
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
}

.errorBoundary {
  margin-top: 5%;
  align-self: flex-end;
}

.arrow {
  opacity: 1;
}

.switch {
  margin-bottom: 5%;
  align-self: flex-end;
}