      .topControls {
      	display: flex;
      	flex-direction: row;
      }

      .topControls input {
      	width: 100%;
      }

      button {
      	background-color: cadetblue;
      	border-radius: none;
      }